body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Eina03-SemiBold";
  src: url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.eot");
  src: url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.svg#Eina03-SemiBold")
      format("svg");
}
